---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { capitalize } from "../utils";
import { SiGithub, SiWhatsapp } from "react-icons/si";
import { CiLinkedin } from "react-icons/ci";
import { CgMail } from "react-icons/cg";

const allBlogArticles: CollectionEntry<"blog">[] = await getCollection("blog");

const tags: string[] = allBlogArticles.flatMap((article) => article.data.tags);

const uniqueTags: string[] = [...new Set(tags)];
---

<footer class="bg-indigo-900 text-white">
  <div class="container mx-auto mt-10 max-w-screen-xl px-8">
    <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4">
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">About</h3>
        <p class="text-white text-sm">
          I am Isaac Orraiz, a full stack developer and tech enthusiast. On this
          blog I write about my experiences and thoughts on technology.
        </p>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Categories</h3>
        <ul class="text-white text-sm flex flex-wrap gap-2">
          {
            uniqueTags.map((tag) => (
              <li class="mb-2">
                <a href={`/articles/tag/${tag}`}>#{capitalize(tag)}</a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="mt-10">
        <h3 class="text-xl font-semibold mb-4">Contact</h3>
        <ul class="text-white text-sm">
          <li class="mb-2">
            <a
              href="https://github.com/isalexoc"
              class="flex justify-start items-center gap-3 text-2xl"
            >
              <SiGithub /> Github
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://www.linkedin.com/in/isalex"
              class="flex justify-start items-center gap-3 text-2xl"
            >
              <CiLinkedin /> LinkedIn
            </a>
          </li>
          <li class="mb-2">
            <a
              href="mailto:isaac87usa@gmail.com"
              class="flex justify-start items-center gap-3 text-2xl"
            >
              <CgMail /> Email
            </a>
          </li>
          <li class="mb-2">
            <a
              href="https://wa.me/15406813507?text=Hi%20Isaac%20I%20would%20like%20to%20chat"
              class="flex justify-start items-center gap-3 text-2xl"
            >
              <SiWhatsapp /> Whatsapp
            </a>
          </li>
        </ul>
      </div>
      <div class="my-10 flex justify-start items-center">
        <a
          href="https://www.isaacorraiz.com"
          class="p-2.5 ms-2 text-sm font-medium text-white bg-indigo-700 rounded-lg border border-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300"
          >Back to my portfolio</a
        >
      </div>
      <div
        class="md:text-base text-sm md:font-normal font-light flex justify-center items-center my-10"
      >
        Copyright © 2024 Isaac Orraiz
      </div>
    </div>
  </div>
</footer>
